Repository UMC-Inha/Node.js, pull requests merged in 2024-10, with the labels that each got.

#30 [예인/2주차]워크북 제출합니다.
  keyword/chapter02/summary.md
  mission/chapter02/mission.sql
Labels: Keyword, Mission, Chapter02

#33 [2주차/지나] 워크북 제출합니다.
  .idea/dataSources.xml
  .idea/sqldialects.xml
  keyword/chapter02/keyword.md
  mission/chapter01/mission..mwb
  mission/chapter01/mission.sql
  mission/chapter01/mission_erd.png
  mission/chapter01/mission_erd_model.mwb
  mission/chapter01/mission_erd_model.mwb.bak
  mission/chapter02/Erd_Week1_Ex.png
  mission/chapter02/demodata.sql
  mission/chapter02/mission.sql
Labels: Keyword, Mission, Chapter02

#31 [2주차/웬티] 워크북 제출합니다.
  keyword/chapter02/images/실습1.png
  keyword/chapter02/images/실습10.png
  keyword/chapter02/images/실습2.png
  keyword/chapter02/images/실습3.png
  keyword/chapter02/images/실습4.png
  keyword/chapter02/images/실습5.png
  keyword/chapter02/images/실습6.png
  keyword/chapter02/images/실습7.png
  keyword/chapter02/images/실습8.png
  keyword/chapter02/images/실습9.png
  keyword/chapter02/keyword.md
  mission/chapter02/images/가게-방문-미션-포인트-서비스-스터디-후-추가수정.jpg
  mission/chapter02/images/미션1-1-쿼리작성.png
  mission/chapter02/images/미션1-2-쿼리작성.png
  mission/chapter02/images/미션2-1-쿼리작성.png
  mission/chapter02/images/미션2-2-쿼리작성.png
  mission/chapter02/images/미션3-1-쿼리작성.png
  mission/chapter02/images/미션3-2-쿼리작성.png
  mission/chapter02/images/미션4-쿼리작성.png
  mission/chapter02/mission.md
Labels: Keyword, Mission, Chapter02

#34 [2주차/낭니] 워크북 제출합니다.
  mission/chapter02/mission.sql
  mission/chapter02/참고용 erd.png
Labels: Mission, Chapter02

#28 [2주차/케리] 워크북 제출합니다.
  mission/chapter01/week1.png
  mission/chapter02/mission.sql
Labels: Keyword, Mission, Chapter02

#29 [링크/2주차] 워크북 제출합니다!
  keyword/chatper02/keyword.md
  mission/chapter02/1.png
  mission/chapter02/2.png
  mission/chapter02/3.png
  mission/chapter02/4.png
  mission/chapter02/mission.md
Labels: Keyword, Mission, Chapter02

#38 [3주차/지나] 워크북 제출합니다.
  .gitignore
  .vscode/settings.json
  keyword/.prettierignore
  keyword/chapter03/keyword.md
  mission/chapter03/mission.md
  package.json
  src/index.js
Labels: Keyword, Mission, Chapter03

#40 [3주차/코디] 워크북 제출합니다.
  mission/chapter03/mission.md
Labels: Mission, Chapter03

#42 [3주차/낭니] 워크북 제출합니다.
  mission/chapter03/api 회원가입 예시.png
  mission/chapter03/api명세 1.png
  mission/chapter03/msiion.md
Labels: Mission, Chapter03

#41 [3주차/예인]워크북 제출합니다.
  mission/chapter03/chap03.md
Labels: Mission, Chapter03

#43 [3주차/링크] 워크북 제출합니다.
  keyword/chapter02/keyword.md
  keyword/chapter03/keyword.md
  mission/chapter03/Hello_world.png
  mission/chapter03/mission.md
  mission/chapter03/nodemon.png
  mission/nodejs_project/.gitignore
  mission/nodejs_project/.vscode/settings.json
  mission/nodejs_project/package-lock.json
  mission/nodejs_project/package.json
  mission/nodejs_project/src/index.js
Labels: Keyword, Mission, Chapter03

#36 [3주차/케리] 워크북 제출합니다.
  mission/chapter03/mission.md
Labels: Keyword, Mission, Chapter03

#39 [3주차/웬티] 워크북 제출합니다.
  keyword/chapter03/images/실습1-hello-world.png
  keyword/chapter03/images/실습2-nodemon.png
  keyword/chapter03/images/트러블슈팅-문제탐색-1.png
  keyword/chapter03/images/트러블슈팅-문제탐색-2.png
  keyword/chapter03/images/트러블슈팅-문제해결.png
  keyword/chapter03/images/트러블슈팅-에러.png
  keyword/chapter03/keyword.md
  mission/chapter03/mission.md
Labels: Keyword, Mission, Chapter03
