Repository UMC-Inha/Node.js, pull requests merged in 2024-09, with the labels that each got.

#2 [0주차/지나] 키워드 제출합니다.
  keyword/chapter00/키워드정리.md
Labels: Chapter00, Keyword

#5 [0주차/지나] 워크북 수정 제출합니다.
  keyword/chapter00/keyword.md
  keyword/chapter00/키워드정리.md
  mission/chapter00/image.png
  mission/chapter00/mission.md
Labels: Chapter00, Keyword, Mission

#4 [0주차/웬티] 워크북 제출합니다.
  keyword/chapter00/chapter00-good-luck.png
  keyword/chapter00/chapter00-npm-run-start.png
  keyword/chapter00/keyword.md
  mission/chapter00/mission.md
Labels: Chapter00, Keyword, Mission

#3 [0주차/코디] 워크북 제출합니다.
  keyword/chapter00/keyword.md
  mission/chapter00/mission.md
Labels: Chapter00, Keyword, Mission

#7 [0주차/케리] 워크북 제출합니다.
  keyword/chatper00/keyword.md
  mission/chapter00/mission.md
Labels: Chapter00, Keyword, Mission

#10 [0주차/link] 워크북 제출합니다
  keyword/chapter00/keyword.md
  mission/chapter00/mission.md
Labels: Chapter00, Keyword, Mission

#13 [1주차/케리] 워크북 제출합니다.
  keyword/chapter01/keyword.md
  mission/chapter01/mission.sql
Labels: Keyword, Mission, Chapter01

#14 [1주차/코디] 워크북 제출합니다.
  keyword/chapter01/keyword.md
  mission/chapter01/Week1_DB설계ERD.png
  mission/chapter01/mission.md
Labels: Keyword, Mission, Chapter01

#16 [1주차/지나] 워크북 제출합니다.
  .idea/.gitignore
  .idea/UMC7th_Study.iml
  .idea/modules.xml
  .idea/sqldialects.xml
  .idea/vcs.xml
  keyword/chapter01/image/1to1.png
  keyword/chapter01/image/1toN.png
  keyword/chapter01/image/NtoN.png
  keyword/chapter01/image/er_diagram1.gif
  keyword/chapter01/image/er_diagram_ex.png
  keyword/chapter01/image/first_normal_form.png
  keyword/chapter01/image/second_normal_form.png
  keyword/chapter01/image/table_add_ex2.jpg
  keyword/chapter01/image/table_add_ex34.jpg
  keyword/chapter01/image/table_horizontality_division.jpg
  keyword/chapter01/image/table_merge.jpg
  keyword/chapter01/image/table_vertical_division.jpg
  keyword/chapter01/image/third_normal_form.png
  keyword/chapter01/keyword.md
  mission/chapter01/mission.sql
  mission/chapter01/mission_erd.png
  mission/chapter01/mission_erd_model.mwb
Labels: Keyword, Mission, Chapter01

#19 [1주차/예인] 워크북 제출합니다.
  keyword/chapter01/summary.md
  mission/chapter01/mission.sql
  mission/chapter01/mission_erd.png
Labels: Keyword, Mission, Chapter01

#15 [1주차/링크] 워크북 제출 합니다.
  .idea/.gitignore
  .idea/Node.js.iml
  .idea/dataSources.xml
  .idea/modules.xml
  .idea/vcs.xml
  keyword/chapter00/keyword.md
  keyword/chapter01/keyword.md
  mission/chapter00/mission.md
  mission/chapter01/erd_image.png
  mission/chapter01/mission.md
Labels: Keyword, Mission, Chapter01

#17 [1주차/웬티] 워크북 제출합니다.
  keyword/chapter01/images/1-Wenty-Subnet-2.png
  keyword/chapter01/images/2-라우팅-테이블-연결.png
  keyword/chapter01/images/3-Wenty-SubnetGroup.png
  keyword/chapter01/images/4-Wenty-VPC-DNS-활성화.png
  keyword/chapter01/images/5-RDS-생성.png
  keyword/chapter01/images/6-Test-Connection.png
  keyword/chapter01/images/DB-접속-Test-Connection.png
  keyword/chapter01/images/도서-대여-관리-app-DB-설계-공부-전.jpg
  keyword/chapter01/images/도서-대여-관리-app-DB-설계-공부-후-추가수정.jpg
  keyword/chapter01/images/도서-대여-관리-app-DB-설계-공부-후.jpg
  keyword/chapter01/keyword.md
  mission/chapter01/images/가게-방문-미션-포인트-서비스-스터디-후-추가수정.jpg
  mission/chapter01/images/가게-방문-미션-포인트-서비스-스터디-후.jpg
  mission/chapter01/images/가게-방문-미션-포인트-서비스.jpg
  mission/chapter01/mission.md
Labels: Keyword, Mission, Chapter01

#23 [1주차/예인] 워크북 수정 제출합니다.
  .idea/.gitignore
  .idea/Node.js.iml
  .idea/dataSources.xml
  .idea/modules.xml
  .idea/vcs.xml
  keyword/chapter00/keyword.md
  keyword/chapter01/keyword.md
  mission/chapter00/mission.md
  mission/chapter01/erd_image.png
  mission/chapter01/mission.md
  mission/chapter01/mission01.png
  mission/chapter01/mission_erd.png
Labels: Keyword, Mission, Chapter01

#18 [1주차/낭니] 워크북 제출합니다.
  keyword/chapter01/erd1.png
  keyword/chapter01/erd2.png
  keyword/chapter01/keyword.md
  mission/chapter01/keyword.md
  mission/chapter01/mission2.png
Labels: Keyword, Mission, Chapter01

#22 [1주차/지나] 워크북 수정 제출합니다.
  keyword/chapter01/keyword.md
  mission/chapter01/mission.sql
  mission/chapter01/mission_erd.png
  mission/chapter01/mission_erd_model.mwb
  mission/chapter01/mission_erd_model.mwb.bak
Labels: Keyword, Mission, Chapter01

#27 [링크/1주차] 1주차 워크북 다시 제출합니다
  .idea/.gitignore
  .idea/Node.js.iml
  .idea/dataSources.local.xml
  .idea/dataSources.xml
  .idea/dataSources/ceb01c00-526d-4956-8836-e10d6248430e.xml
  .idea/dataSources/ceb01c00-526d-4956-8836-e10d6248430e/storage_v2/_src_/schema/chap3.X9ejBQ.meta
  .idea/dataSources/ceb01c00-526d-4956-8836-e10d6248430e/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
  .idea/dataSources/ceb01c00-526d-4956-8836-e10d6248430e/storage_v2/_src_/schema/information_schema.FNRwLQ.zip
  .idea/dataSources/ceb01c00-526d-4956-8836-e10d6248430e/storage_v2/_src_/schema/ml_chap3.v1TBMw.meta
  .idea/dataSources/ceb01c00-526d-4956-8836-e10d6248430e/storage_v2/_src_/schema/mysql.osA4Bg.meta
  .idea/dataSources/ceb01c00-526d-4956-8836-e10d6248430e/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
  .idea/dataSources/ceb01c00-526d-4956-8836-e10d6248430e/storage_v2/_src_/schema/practice_database.__Piwg.meta
  .idea/dataSources/ceb01c00-526d-4956-8836-e10d6248430e/storage_v2/_src_/schema/sakila.oXLGyQ.meta
  .idea/dataSources/ceb01c00-526d-4956-8836-e10d6248430e/storage_v2/_src_/schema/sakila.oXLGyQ.zip
  .idea/dataSources/ceb01c00-526d-4956-8836-e10d6248430e/storage_v2/_src_/schema/sys.zb4BAA.meta
  .idea/dataSources/ceb01c00-526d-4956-8836-e10d6248430e/storage_v2/_src_/schema/sys.zb4BAA.zip
  .idea/dataSources/ceb01c00-526d-4956-8836-e10d6248430e/storage_v2/_src_/schema/test.kkQ2AA.meta
  .idea/dataSources/ceb01c00-526d-4956-8836-e10d6248430e/storage_v2/_src_/schema/to_do_list.DoZJ9A.meta
  .idea/dataSources/ceb01c00-526d-4956-8836-e10d6248430e/storage_v2/_src_/schema/umc.y8QBAA.meta
  .idea/dataSources/ceb01c00-526d-4956-8836-e10d6248430e/storage_v2/_src_/schema/world.khvBBg.meta
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
  keyword/chapter01/keyword.md
  mission/chapter01/erd_image.png
  mission/chapter01/mission.md
Labels: Chapter00, Keyword, Mission
