Repository UMC-Inha/Node.js, pull requests merged in 2024-12, with the labels that each got.

#76 [9주차/웬티] 워크북 제출합니다.
  keyword/chapter09/images/실습-1-서버_등록_키_발급받기.png
  keyword/chapter09/images/실습-10-req.user_확인.png
  keyword/chapter09/images/실습-2-동의화면_구성.png
  keyword/chapter09/images/실습-3-session_테이블.png
  keyword/chapter09/images/실습-4-google_로그인.png
  keyword/chapter09/images/실습-5-google_로그인.png
  keyword/chapter09/images/실습-6-쿠키_확인.png
  keyword/chapter09/images/실습-6-쿠키_확인_1.png
  keyword/chapter09/images/실습-6-쿠키_확인_2.png
  keyword/chapter09/images/실습-7-인증성공후_리디렉션.png
  keyword/chapter09/images/실습-8-session_테이블_확인.png
  keyword/chapter09/images/실습-9-member_테이블_확인.png
  keyword/chapter09/keyword.md
  mission/chapter09/images/미션-1-네이버_CallbackURL_설정.png
  mission/chapter09/images/미션-1-네이버_member_테이블_확인.png
  mission/chapter09/images/미션-1-네이버_session_테이블_확인.png
  mission/chapter09/images/미션-1-네이버_로그인_테스트.png
  mission/chapter09/images/미션-1-네이버_애플리케이션_개요.png
  mission/chapter09/images/미션-1-네이버_애플리케이션_등록.png
  mission/chapter09/images/미션-1-네이버_인증성공후_리디렉션.png
  mission/chapter09/images/미션-1-네이버_제공정보_설정.png
  mission/chapter09/images/미션-1-네이버_쿠키확인.png
  mission/chapter09/images/미션-1-카카오_Redirect_URI_지정.png
  mission/chapter09/images/미션-1-카카오_member_테이블_확인.png
  mission/chapter09/images/미션-1-카카오_req.user_확인.png
  mission/chapter09/images/미션-1-카카오_session_테이블_확인.png
  mission/chapter09/images/미션-1-카카오_개인개발자_비즈앱_전환.png
  mission/chapter09/images/미션-1-카카오_도메인_등록.png
  mission/chapter09/images/미션-1-카카오_동의항목_설정.png
  mission/chapter09/images/미션-1-카카오_동의항목_설정_초반.png
  mission/chapter09/images/미션-1-카카오_로그인_테스트_1.png
  mission/chapter09/images/미션-1-카카오_로그인_테스트_2.png
  mission/chapter09/images/미션-1-카카오_로그인_활성화.png
  mission/chapter09/images/미션-1-카카오_애플리케이션_추가.png
  mission/chapter09/images/미션-1-카카오_앱키.png
  mission/chapter09/images/미션-1-카카오_이메일_ID.png
  mission/chapter09/images/미션-1-카카오_인증성공후_리디렉션.png
  mission/chapter09/images/미션-1-카카오_쿠키확인.png
  mission/chapter09/images/미션-2-리뷰등록_테스트_1.png
  mission/chapter09/images/미션-2-리뷰등록_테스트_2.png
  mission/chapter09/images/미션-2-리뷰목록조회_테스트_1.png
  mission/chapter09/images/미션-2-리뷰목록조회_테스트_2.png
  mission/chapter09/images/미션-2-식당등록_테스트_1.png
  mission/chapter09/images/미션-2-식당등록_테스트_2.png
  mission/chapter09/images/미션-2-참여미션_업데이트_테스트_1.png
  mission/chapter09/images/미션-2-참여미션_업데이트_테스트_12.png
  mission/chapter09/images/미션-2-참여미션_업데이트_테스트_2.png
  mission/chapter09/images/미션-2-참여미션_업데이트_테스트_23.png
  mission/chapter09/images/미션-2-참여미션등록_테스트_1.png
  mission/chapter09/images/미션-2-참여미션등록_테스트_2.png
  mission/chapter09/images/미션-2-참여미션목록_테스트_1.png
  mission/chapter09/images/미션-2-참여미션목록_테스트_2.png
  mission/chapter09/images/미션-3-member_테이블_확인.png
  mission/chapter09/images/미션-3-회원정보_수정_1.png
  mission/chapter09/images/미션-3-회원정보_수정_2.png
  mission/chapter09/mission.md
Labels: Keyword, Mission, Chapter09

#74 [9주차/지나] 워크북 제출합니다.
  mission/chapter09/images/googleLogin.png
  mission/chapter09/images/naverLogin.png
  mission/chapter09/mission.md
Labels: Keyword, Mission, Chapter09

#75 [9주차/예인]워크북 제출합니다.
  keyword/chapter09/summary.md
  mission/chapter09/image.png
  mission/chapter09/image2.png
  mission/chapter09/image3.png
  mission/chapter09/image_naverlogin.png
Labels: Keyword, Mission, Chapter09

#68 [8,9,10주차/낭니] 워크북 제출합니다.
  keyword/chapter08/keyword.md
  keyword/chapter09/keyword.md
  keyword/chapter10/image1.png
  keyword/chapter10/image2.png
  keyword/chapter10/image3.png
  keyword/chapter10/keyword.md
  mission/chapter08/image.png
  mission/chapter08/image1.png
  mission/chapter08/스크린샷 2024-11-20 145617.png
  mission/chapter08/스크린샷 2024-11-20 145626.png
  mission/chapter09/image.png
  mission/chapter10/image.png
Labels: Keyword, Mission, Chapter08, Chapter09, Chapter10

#79 [10주차/지나] 워크북 제출합니다.
  keyword/.prettierignore
  keyword/chapter10/images/AwsCidr.png
  keyword/chapter10/images/NAT1.png
  keyword/chapter10/images/NAT2.png
  keyword/chapter10/images/PortNum.png
  keyword/chapter10/images/PrivateGroup.png
  keyword/chapter10/keyword.md
  mission/chapter10/Nginx.png
  mission/chapter10/RemoteSHH.png
Labels: Keyword, Mission, Chapter10

#80 [10주차/웬티] 워크북 제출합니다.
  keyword/chapter10/images/키워드-사설IP-사설망-NAT.png
  keyword/chapter10/images/키워드-포트포워딩.png
  keyword/chapter10/keyword.md
  mission/chpater10/images/실습-1-1-VPC-생성.png
  mission/chpater10/images/실습-1-2-서브넷-생성.png
  mission/chpater10/images/실습-1-3-인터넷게이트웨이-생성-VPC-연결.png
  mission/chpater10/images/실습-1-4-라우팅테이블.png
  mission/chpater10/images/실습-1-5-라우팅테이블-편집.png
  mission/chpater10/images/실습-1-6-라우팅테이블-서브넷-연결.png
  mission/chpater10/images/실습-2-1-보안그룹-생성.png
  mission/chpater10/images/실습-2-2-보안그룹-인바운드규칙.png
  mission/chpater10/images/실습-3-1-인스턴스-생성.png
  mission/chpater10/images/실습-3-2-인스턴스-KeyPair.png
  mission/chpater10/images/실습-3-3-인스턴스-보안그룹.png
  mission/chpater10/images/실습-4-1-탄력적IP-설정.png
  mission/chpater10/images/실습-4-2-config-작성.png
  mission/chpater10/images/실습-4-3-원격호스트-connected.png
  mission/chpater10/images/실습-5-1-NGINX-설치-브라우저-접속.png
  mission/chpater10/mission.md
Labels: Keyword, Mission, Chapter10

#77 [9, 10주차/코디] 워크북 제출합니다.
  keyword/chapter09/image.png
  keyword/chapter09/keyword.md
  keyword/chapter10/image1.png
  keyword/chapter10/image2.png
  keyword/chapter10/keyword.md
  mission/chapter09/image1.png
  mission/chapter09/image10.png
  mission/chapter09/image11.png
  mission/chapter09/image12.png
  mission/chapter09/image13.png
  mission/chapter09/image14.png
  mission/chapter09/image2.png
  mission/chapter09/image3.png
  mission/chapter09/image4.png
  mission/chapter09/image5.png
  mission/chapter09/image6.png
  mission/chapter09/image7.png
  mission/chapter09/image8.png
  mission/chapter09/image9.png
  mission/chapter09/mission.md
  mission/chapter10/connected.PNG
  mission/chapter10/ec2.PNG
  mission/chapter10/ig.PNG
  mission/chapter10/ip.PNG
  mission/chapter10/mission.md
  mission/chapter10/nginx.PNG
  mission/chapter10/rt-subnet.PNG
  mission/chapter10/rt.PNG
  mission/chapter10/sg.PNG
  mission/chapter10/subnet.PNG
  mission/chapter10/vpc.PNG
Labels: Keyword, Mission, Chapter09, Chapter10

#83 [10주차/예인]워크북 제출합니다.
  keyword/chapter10/image_port.png
  keyword/chapter10/summary.md
  mission/chapter10/image1.png
  mission/chapter10/image2.png
  mission/chapter10/image3.png
  mission/chapter10/image4.png
Labels: Keyword, Mission, Chapter10
